body {
font-family: source-sans-pro;
background-color: #f2f2f2;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
font-style: normal;
font-weight: 200;
font-size: 20px;
}	

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

header {
	width: 100%;
	height: 3.5em;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 20%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 100%;
	text-align: left;
	margin-right: 15px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

.home {
	padding-top: .2em;
	background-image: url('../images/baker-berry.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 800px;
	padding-top: 5%
}

.light {
	font-weight: 100;
	color: #717070;
}

.articles{
	background-color: #f2f2f2;
	padding-top: 1%;
}

.transparent-color{
	background-color: rgba(211,211,211,0.9)
}

.box:hover {
	cursor: pointer;
  	opacity: .85;
}

.article {
  height: 100%;
  font-family: georgia;
  margin: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 60px;
  display: none;
  padding-top: 5%;
}

.article h1,h3 {
  text-align: center;
}

.articles hr {
  padding-bottom: 14px;
}

.article p {
  font-size: 1.4em;
}

.article p.by-line {
  text-align: center;
}

.textbox {
	text-align: center;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	background-color: #000;
}

@font-face {
    font-family: 'LinotypeZapfino One';
    font-style: normal;
    font-weight: 400;
    src: local('LinotypeZapfino One'), local('LTZapfinoOne-Regular'),
        url(linotypezapfino-one.tff) format('woff'),
        url(linotypezapfino-one.ttf) format('truetype');
}
